{% extends 'default.html' %}

{% block title %}
    B-Board - Войти в систему
{% endblock title %}


{% block page_preview %}
  <div class="text-center my-1">-->
      <h1 class="display-6 fw-bold text-white mb-2">
        Войти в систему
      </h1>
      <p class="lead text-white-50 mb-4"></p>
  </div>
{% endblock page_preview %}


{% block default_content %}
<section class="py-3">
    <div class="card">
        <div class="py-3 px-3">
          <h2>Вы вышли из системы</h2>
        </div>
    </div>  
</section>
{% endblock default_content %}